@import 'tailwindcss';

@theme inline {
   --font-sans: var(--font-geist-sans);
   --font-outfit: var(--font-outfit);
   --font-jetbrains: var(--font-jet-brain-mono);
}

body {
   background: var(--background);
   color: var(--foreground);
}
